apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3
          ports:
            - containerPort: 8081
      #     volumeMounts:
      #       - name: nexus-data
      #         mountPath: /nexus-data
      # volumes:
      #   - name: nexus-data
      #     persistentVolumeClaim:
      #       claimName: nexus-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nexus-service
spec:
  type: NodePort
  ports:
    - port: 8081
      targetPort: 8081
  selector:
    app: nexus
