# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/app_settings
/build/cloud_firestore
/build/firebase_analytics
/build/firebase_auth
/build/firebase_core
/build/firebase_crashlytics
/build/firebase_database
/build/firebase_messaging
/build/firebase_performance
/build/flutter_local_notifications
/build/geolocator_android
/build/shared_preferences_android
/build/test_cache
/build/unit_test_assets
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#Service Account Key
service-acc-key.txt

/build/app/crashlytics
/build/app/generated
/build/app/intermediates
/build/app/kotlin
/build/app/kotlinToolingMetadata
/build/app/tmp
/build/app/outputs/apk
/build/app/outputs/logs
/build/app/outputs/mapping
/build/app/outputs/sdk-dependencies